html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #060b27;
  color: #8f9bb7;
}

.w_full {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
  padding: 24px;
}

header {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  border-bottom: 1px solid #151934;
  background-color: #060b27;
  height: 97px;
  z-index: 100;
}

.header_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li a {
  padding: 0px;
  color: #8f9bb7;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  transition: color 350ms ease;
}

ul li a:hover {
  color: #fff;
  transition: color 350ms ease;
}

.mobile_links {
  padding: 24px;
  top: -400px;
  left: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
  transition: transform 400ms ease 0s;
  z-index: 99;
  background-color: #060b27;
}

.mobile_links_toggle {
  display: none;
  position: relative;
  width: 70px;
  height: 70px;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  cursor: pointer;
  overflow: hidden;
}

.mobile_links_toggle span {
  position: absolute;
  width: 40px;
  height: 4px;
  background: #fff;
  border-radius: 4px;
  transition: 0.5s;
}

.mobile_links_toggle span:nth-child(1) {
  transform: translateY(-15px);
  width: 25px;
  left: 15px;
}

.mobile_links_toggle.active span:nth-child(1) {
  width: 40px;
  transform: translateY(0px) rotate(45deg);
}

.mobile_links_toggle span:nth-child(2) {
  transform: translateY(15px);
  width: 15px;
  left: 15px;
}

.mobile_links_toggle.active span:nth-child(2) {
  width: 40px;
  transform: translateY(0px) rotate(-45deg);
}

.mobile_links_toggle.active span:nth-child(3) {
  transform: translateX(60px);
}

.btn {
  padding: 15px 25px;
  border-radius: 36px;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
}

.btn_contained {
  border: 0;
}

.btn_outlined {
  border: 1.2px solid #282d45;
  background-color: transparent;
  transition: background-color 350ms ease, border 350ms ease;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(21, 25, 52, 0.49)),
    color-stop(55%, rgba(21, 25, 52, 0.08)),
    to(rgba(21, 25, 52, 0.52))
  );
  background-image: linear-gradient(
    90deg,
    rgba(21, 25, 52, 0.49),
    rgba(21, 25, 52, 0.08) 55%,
    rgba(21, 25, 52, 0.52)
  );
}

.btn_outlined:hover {
  border-color: #979797;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(87, 90, 109, 0.49)),
    color-stop(55%, rgba(87, 90, 109, 0.3)),
    to(rgba(87, 90, 109, 0.52))
  );
  background-image: linear-gradient(
    90deg,
    rgba(87, 90, 109, 0.49),
    rgba(87, 90, 109, 0.3) 55%,
    rgba(87, 90, 109, 0.52)
  );
}

.btn_primary {
  background-color: rgb(114, 20, 255);
}

.btn_text {
  border: 0;
  background-color: transparent;
  transition: background-color 350ms ease;
}

.btn_text:hover {
  background-color: rgba(144, 20, 255, 0.08);
}

.hero_header,
.reviews_header {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}

.hero_header span,
.reviews_header span {
  text-align: center;
}

.title {
  font-size: 64px;
  line-height: 89px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #f6f6f7;
}

.sub_title {
  text-align: center;
  color: #8f9bb7;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 30px;
}

.button_group {
  display: flex;
  align-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}

.hero_main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;
}

.hero_image {
  width: 75%;
}

.features_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.features_title {
  font-size: 56px;
  line-height: 69px;
  font-weight: 700;
  margin: 30px 0;
  color: #f6f6f7;
}

.features_sub_title {
  color: #8f9bb7;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 30px;
}

.features_main,
.blog_posts {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.feature {
  padding: 30px 40px 30px 30px;
  border: 1px solid #282d45;
  border-radius: 4px;
  background-color: #0e1330;
  display: flex;
  flex-direction: column;
}

.feature_image {
  margin-bottom: 30px;
}

.feature_title {
  color: #f6f6f7;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 12px;
}

.feature_description {
  color: #8f9bb7;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.features_header {
  margin: 60px 0;
}

.reviews_header {
  margin-top: 60px;
}

.reviews_main {
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  border-radius: 12px;
  object-fit: cover;
}

.review {
  padding: 25px;
  border-radius: 8px;
  border: 1px solid #282d45;
  background-color: #0e1330;
  max-width: 343px;
}

.review_slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: center;
  -ms-flex-pack: justify;
  justify-content: center;
}

.review_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 30px;
}

.reviewer_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.reviewer_name {
  margin-bottom: 10px;
  color: #f6f6f7;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.reviewer_profession {
  color: #8f9bb7;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
}

.review_description {
  color: #8f9bb7;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.blog_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 30px 0;
}

.blog_title {
  color: #f6f6f7;
  font-size: 56px;
  line-height: 69px;
  font-weight: 700;
  margin-bottom: 30px;
}

.post {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border: 1px solid #282d45;
  background-color: #0e1330;
  border-radius: 10px;
}

.post_main {
  display: flex;
  flex-direction: column;
}

.post_image {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 12px;
  margin-bottom: 20px;
}

.post_title {
  margin-bottom: 20px;
  color: #f6f6f7;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.post_main {
  flex-grow: 1;
}

.post_description {
  color: #8f9bb7;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.post_divider {
  width: 100%;
  height: 1px;
  background-color: #282d45;
  margin-top: 20px;
  margin-bottom: 20px;
}

.post_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .nav_container,
  .button_demo_container {
    display: none;
  }

  .mobile_links,
  .features_header,
  .blog_header {
    flex-direction: column;
  }

  .mobile_links_toggle {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .mobile_links.active {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    transform: translateY(497px);
    transition: transform 400ms ease 0s;
  }

  .mobile_nav_container ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
  }

  .mobile_button_demo_container {
    margin: 35px 0;
  }

  .hero_image {
    width: 100%;
  }

  .features_main,
  .blog_posts {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .features_title {
    font-size: 48px;
    line-height: 56px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 20px;
  }

  .title {
    font-size: 44px;
    line-height: 52px;
  }

  .sub_title {
    font-size: 16px;
    line-height: 24px;
  }

  .button_group {
    flex-direction: column;
  }

  .features_main,
  .blog_posts {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .features_title,
  .blog_title {
    font-size: 40px;
  }
}

@media screen and (max-width: 426px) {
  .container {
    padding: 16px;
  }

  .title {
    font-size: 36px;
    line-height: 44px;
  }

  .sub_title {
    font-size: 14px;
  }

  .features_title,
  .blog_title {
    font-size: 32px;
    line-height: 40px;
  }
}
